body{
   display: scroll;
   position: absolute;
}
.btn{
   padding:10px;
   background-image:linear-gradient(40deg,green,white,red); 
   border:1px dashed yellow;
}
input{
   border: 0.5px dashed black;
   margin: 7px;
   padding: 10px;
   outline: none;
   transition-duration: 4s;
}
input:hover{
   border: none;
   border-bottom:2px groove red ;
}